@media (max-width: 1304px) and (min-width: 991px) {
    .avatarsizing{
        width: 180px;
        height: 180px
    }
}
@media (max-width: 991px) {
    .contentposition{
        text-align: center;
        align-items: center;
        margin-left: auto;
    }
}
@media (min-width: 992px) {
    .contentposition{
        text-align: right;
    }
}
@media (max-width: 1351px) {
    .dispaorition{
        display: none;
    }
}